<div *ngIf="user.profileIsPublic" class="main-container">
        <header>
            <h1>{{ user.userName }}</h1>
            <p class="subtitle">Pianist</p>
        </header>
        <main>

            <iframe *ngIf="videoUrl" style="display:block; margin: 0 auto; max-width: 100%;" width="100%" height="400" [src]="videoUrl" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <br *ngIf="videoUrl" />
            
            <h2>About Me:</h2>
            <p>{{ user.userDescription }}</p>
            <br />

            <div *ngIf="user.userAwards">
                <h2>My Awards:</h2>
                <ul>
                    <li *ngFor="let award of userAwards">{{ award }}</li>
                </ul>
            </div>
            <br />

            <div *ngIf="user.availableForHire">
                <h2>Available For Hire:</h2>
                <p *ngIf="(user.availableForHireDescription != '')">{{ user.availableForHireDescription }}</p>
                <a href="mailto:{{user.availableForHireEmail}}" class="contact-button">CONTACT ME</a>
            </div>
        </main>
</div>
<footer *ngIf="user.profileIsPublic">
    <p>{{ user.userName }} uses <b><a href="https://apphoven.com" class="apphoven-link">Apphoven</a></b> to practice the piano. </p>
</footer>

<div *ngIf="!user.profileIsPublic" class="locked-container">
        <h1 style="color: rgb(255, 225, 225)"><a href="https://apphoven.com" class="apphoven-link">Apphoven</a></h1>
        <p>The requested profile is set to private</p>
</div>